$white: #ffffff;

$gray_900: #101828;
$gray_700: #344054;
$gray_600: #475467;
$gray_300: #d0d5dd;
$gray_200: #e4e7ec;
$gray_50: #f9fafb;

$brand_700: #6941c6;
$brand_600: #7f56d9;
$brand_300: #d6bbfb;
$brand_200: #e9d7fe;
$brand_100: #f4ebff;
$brand_50: #f9f5ff;
$brand_25: #FCFAFF;

$error_300: #fda29b;
$error_500: #f04438;

$gradient_1: #a6c0fe;
$gradient_2: #ffeaf6;
